<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="first.TestCase1">
      <methods>
      <include name="display"></include>
      <exclude name="display2"></exclude>
      </methods>
      </class>
      
      <class name="first.TestCase2"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
